<div class="image-detail" *ngIf="image">
  <h1>
    <button
      color="primary"
      mat-raised-button
      mat-icon-button
      aria-label="Back icon"
      [routerLink]="['/']"
    >
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    {{ image.id }} - {{ image.author }}
  </h1>
  <button
    mat-raised-button
    color="accent"
    (click)="toggleDetail()"
  >
    Show all details
  </button>
  <div *ngIf="showDetails" class="image-detail-tabs">
    <mat-tab-group>
      <mat-tab label="Identifier">
        {{ image.id }}
      </mat-tab>
      <mat-tab label="Author">
        {{ image.author }}
      </mat-tab>
      <mat-tab label="Size">
        {{ image.width }}px x {{ image.height }}px
      </mat-tab>
      <mat-tab label="Url">
        {{ image.url }}
      </mat-tab>
      <mat-tab label="Image">
        <img class="image-detail-img" src="{{ image.download_url }}" alt="{{ image.author }}" />
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
